<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% extends 'base.html' %} 
{% block title %} All Projects {% endblock %}

{% block body %}


<div>
    <ul style="list-style-type:none;">
        
        {% for pose in poses %}


        <li>
            

            <a href="{{url_for}}"></a>


            {{pose.pose_id}}:  {{pose.posename}}


        </li>
            

        {% endfor %}


    </ul>


</div>



<br>
<br>
<br>

<div>

    <p><b>Remove A Pose</b></p>
    
        <form method="DELETE">
          
            
            <form action="{{ url_for('del_pose') }}"method="DELETE">

                <label for="poseid">Pose ID Number:</label><br>
                <input type="text" id="poseid" name="poseid" placeholder="Enter pose number here..."><br>
                <label for="posename">Pose name:</label><br>
                <input type="text" id="posename" name="posename" placeholder="Enter pose name here..."><br>
                <input type="submit" value="Submit">




                
            </form>
            
          </form> 

</div>    







{% endblock %}     

</body>
</html>