<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/style.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends 'base.html' %}
{% block title %} Home{% endblock %}

{% block body %}

<svg  width="200" height="200">
  <circle cx="50" cy="50"  r="40"
  stroke="#446879" stroke-width="5" fill="#878428" ></circle>
</svg>
    <h1>Hello! Welcome To Zen Hub!</h1>

    <h2>Navigation</h2>
    <ul>
        <li><a href="/projects">View all projects</a></li>
        <li><a href="/users">View all users</a></li>


    

        
    </ul>
   
  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>

    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
</form>






{% endblock %}

</body>
</html>
