<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">View all projects</a></li>
      <li><a href="/users">View all users</a></li>
      
  </ul>
    {% extends 'base.html' %}
    {% block title %}{{ project.projectname }} - Details{% endblock %}
    
    {% block body %}
    <h1>{{ project.projectname }}</h1>
    
    <p>
      {{ project.description }}
    </p>
    
<br>
<br>
<br>
<h3>Rate Project</h3>

<form action="/project/{{project.project_id}}" method="POST">
    <input type="radio" id="1" name="rating" value="1">
    <label for="1">1</label>
    <input type="radio" id="2" name="rating" value="2">
    <label for="2">2</label>
    <input type="radio" id="3" name="rating" value="3">
    <label for="3">3</label>
    <input type="radio" id="4" name="rating" value="4">
    <label for="4">4</label>
    <input type="radio" id="5" zname="rating" value="5">
    <label for="5">5</label><br>
    <input type="submit" value="Submit" class="btn" />
    </form>




    {% endblock %}
</body>
</html>
