<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/projects">View all projects</a></li>
  <li><a href="/users">View all users</a></li>

</ul>

{% extends 'base.html' %}
{% block title %}{{ project.projectname }} - Details{% endblock %}

{% block body %}

<h1>{{ project.projectname }}</h1><br><br>

<div class="form-container">
  <h3>Add Poses</h3>

  <form action="{{ url_for('add_pose') }}" method="POST">
    {{ pose_form.csrf_token() }}
    {{ pose_form.posename.label }}
    {{ pose_form.posename }}
    {{ pose_form.submit.label }}
    {{ pose_form.submit }}
    
</form>


<ul>
<li></li>

</ul>

{% endblock %}



</body>
</html>