<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <ul style="list-style-type: none">
        <li><a href="/projects">View all projects</a></li>
        <li><a href="/users">View all users</a></li>
    {% extends 'base.html' %} {% block title %}All Users{% endblock %} {% block body %}
    <h2>All Users</h2>

    {% for user in users %}

    <a href="/users/{{ user.user_id }}">{{ user.username }}</a><br><br>

    {% endfor %}

    {% endblock %}

  
    </body>
</html>
